@{
    ViewData["Title"] = "Error Page";
}

<div class="text-center">
    <h1 class="display-4">Encountered an error.</h1>
    <p>Encountered an error or the page you are looking for was not found.</p>
</div>
